<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>


    <body>
        <%- include('./partials/nav.ejs')%>

            </nav>
            <div class="not-found content">
                <h2>OOPS. Page not found :)</h2>
            </div>
            <!-- Footer from partials file -->
            <%-include('. /partials/footer.ejs')%>

    </body>

</html>