<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>


<body>
 <%- include('./partials/nav.ejs')%>
    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque sequi enim minus amet inventore quas quidem quisquam quos quam nihil.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque sequi enim minus amet inventore quas quidem quisquam quos quam nihil.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque sequi enim minus amet inventore quas quidem quisquam quos quam nihil.</p>
    </div>
    <!-- Footer from partials file -->
    <%-include('. /partials/footer.ejs')%>

</body>

</html>